//Importar Partials
// @import url(./abstract/_variaveis.scss); //descontinuado
@use './abstract/variaveis'; //Recomendável



header {
    //Referenciair variáveis em um partial (arquivo.$variavel)
    background: variaveis.$gradiente-primario;
    padding: 2rem;

    // Sass permite aninhar elementos
    // Ex: header nav {} -> header { nav {} }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }
            a {
                text-decoration: none;
                color: variaveis.$cor-primaria;
                color: #0c0421;
                font-weight: 500;
                font-family: variaveis.$ft-textos;
            }
        }
    }

    #home {
        max-width: 1040px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textos-home {
            max-width: 464px;
            h1 {
                font-size: 42px;
                color: variaveis.$cor-primaria;
                margin-bottom: 2rem;
                font-family: variaveis.$ft-titulos;
                span {
                    color: variaveis.$cor-secundaria;
                }
            }
            .btn-main {
                color: white;
                background: variaveis.$cor-secundaria;
                border: none;
                outline: none;
                width: 280px;
                // height: 66px; //66px
                border-radius: 66px; //40px
                padding: 24px;
                font-family: variaveis.$ft-textos;
                font-size: 1.3rem; //22px
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    background-color: variaveis.$cor-terciaria;
                }
            }
        }
        .img-home {
            max-width: 474px;
            img {
                width: 100%;
            }
        }
    }
}