@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    //Referenciair variáveis em um partial (arquivo.$variavel)
    background: variaveis.$gradiente-primario;
    padding: 2rem;

    // Sass permite aninhar elementos
    // Ex: header nav {} -> header { nav {} }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }
            a {
                text-decoration: none;
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
                font-weight: 500;
                // transition: 0.3s;
                &:hover {
                    // color: variaveis.$cor-terciaria;
                    font-weight: 600;
                    // transition: ;
                }
            }
        }
    }

    #home {
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textos-home {
            max-width: 464px;
            h1 {
                @include mixins.ff-fs-cl(variaveis.$ft-titulos, 42px, variaveis.$cor-primaria);
                margin-bottom: 2rem;
                span {
                    color: variaveis.$cor-secundaria;
                }
            }
            .btn-main {
                color: white;
                background: variaveis.$cor-secundaria;
                border: none;
                outline: none;
                width: 280px;
                // height: 66px; //66px
                border-radius: 66px; //40px
                padding: 24px;
                font-family: variaveis.$ft-textos;
                font-size: 1.3rem; //22px
                font-weight: 600;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    background-color: variaveis.$cor-terciaria;
                }
            }
        }
        .img-home {
            max-width: 474px;
            img {
                width: 100%;
            }
        }
    }
}